<div class="alert alert-dismissible alert-secondary">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Feeds</strong> Wellcome To Feeds <a href="#" class="alert-link"> alert message</a>.
</div>
